.showValue {
  margin-top: 15px;
  color: red;
  font-size: large;
  margin-left : 5px;
}

.cards{
  display: flex;
  justify-content: space-between;
  width: 1200px;
  nz-card{
    width: 45%;
  }
}
