<nz-card style="width:600px;" nzTitle="Password Generator">
  <button nz-button nzType="primary" nzSize="large" nzSearch (click)="generatePassword()">Generate</button>
  <br>
  <div *ngIf="password.value">
    <p class="showValue">{{ password.value }}</p>
    <p>entropie: {{ entropyComs(password.entropy) }}</p>
  </div>
</nz-card>
<fa-icon [icon]="faCoffee"></fa-icon>
<nz-card style="width:600px;margin-top: 5px;" nzTitle="Password Generator with criterias">
  <span>caractères pour la génération du mot de passe: </span>
  <input type="number" style="width: 50px;" [(ngModel)]="sizePass">
  <br>
  <span>combien de mot de passes: </span>
  <input type="number" style="width: 50px;" [(ngModel)]="nbPass">
  <br>
  <button nz-button nzType="primary" nzSize="large" nzSearch (click)="generatePasswordWithCriterias()">Generate</button>
  <br>
  <div *ngFor="let password of customPasswords">
    <p class="showValue">{{ password.value }}</p>
    <p>entropie: {{ entropyComs(password.entropy) }}</p>
  </div>
  
</nz-card>
