<div class="cards">
  <nz-card style="width:600px;" nzTitle="Générateur de mots de passe">
    <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="!generatingPasswords" (click)="generatePassword()">Generate</button>
    <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="generatingPasswords"><app-loading-spinner></app-loading-spinner></button>
    <br>
    <div *ngIf="password.value">
      <p class="showValue">{{ password.value }}</p>
      <span style="font-size: 27.5px;"><span style="font-weight: bold">entropie:</span> {{ entropyComs(password.entropy).comment }}</span>
      <fa-icon [icon]="entropyComs(password.entropy).icon"
               [ngStyle]="{ 'color': entropyComs(password.entropy).color, 'width': '50px' }"
               class="fa-2x"
               style="margin-left: 5px;"></fa-icon>
    </div>
  </nz-card>
  <nz-card style="width:600px" nzTitle="Génarateur de mots de passes avec critères">
    <span>caractères pour la génération du mot de passe: </span>
    <input type="number" style="width: 50px;" [(ngModel)]="sizePass">
    <br>
    <span>combien de mot de passes: </span>
    <input type="number" style="width: 50px;" [(ngModel)]="nbPass">
    <br>
    <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="!generatingPasswordsWithC" (click)="generatePasswordWithCriterias()">Generate</button>
    <button nz-button nzType="primary" nzSize="large" nzSearch *ngIf="generatingPasswordsWithC"><app-loading-spinner></app-loading-spinner></button>
    <br>
    <div *ngFor="let password of customPasswords">
      <p class="showValue">{{ password.value }}</p>
      <span style="font-size: 27.5px;"><span style="font-weight: bold">entropie:</span> {{ entropyComs(password.entropy).comment }}</span>
      <fa-icon [icon]="entropyComs(password.entropy).icon"
               [ngStyle]="{ 'color': entropyComs(password.entropy).color, 'width': '50px' }"
               class="fa-2x"
               style="margin-left: 5px;"></fa-icon>
    </div>

  </nz-card>
</div>
